<mat-spinner *ngIf="!loaded"></mat-spinner>
<mat-card *ngIf="!!customer">
  <mat-card-header>
    <mat-card-title>{{customer.firstName}} {{customer.lastName}}</mat-card-title>
    <mat-card-subtitle>{{customer.phoneNumber}}</mat-card-subtitle>
    <mat-card-subtitle>{{customer.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card *ngFor="let address of customer.addresses" style="margin-top:10px;" matBadge="{{address.id}}" matBadgeColor="accent" matBadgePosition="above before">
    <mat-card-content>
      <h3>{{address.type}}</h3>
      <p>{{address.line}} {{address.city}} {{address.country}}</p>
      <button mat-button class="button" (click)="onDeleteClick(address.id)">Delete</button>
    </mat-card-content>
  </mat-card>
  <mat-card-actions>
    <form [formGroup]="addAddressForm" (ngSubmit)="onSubmit(addAddressForm.value)" style="padding: 20px">
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Type</mat-label>
          <input id="type" type="text" formControlName="type" matInput placeholder="Personal">
          <mat-hint>Type of address</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>City</mat-label>
          <input id="city" type="text" formControlName="city" matInput placeholder="Paris">
          <mat-hint>Your city</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Country</mat-label>
          <input id="country" type="text" formControlName="country" matInput placeholder="France">
          <mat-hint>Your country</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy">
          <mat-label>Line</mat-label>
          <input id="line" type="text" formControlName="line" matInput placeholder="7 rue du templer">
          <mat-hint>Your line</mat-hint>
        </mat-form-field>
      </div>
      <button mat-button class="button" type="submit">Add</button>
    </form>
  </mat-card-actions>
</mat-card>
